@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

html {
  box-sizing: border-box;
  --background-solid-colour: rgb(15, 25, 58);
}
*,
*::after,
*::before {
  box-sizing: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: Oswald, system-ui, Arial, sans-serif;
  background-color: inherit;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: rgb(133, 60, 60);
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
header .buttons {
  display: flex;
  gap: 15px;
  height: 100%;
}
header .buttons button {
  height: 100%;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: medium;
}
header .buttons button.active-tab {
  background-color: white;
  color: rgb(133, 60, 60);
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background: url(./assets/chill-out-transformed-min.jpg);
  min-height: calc(100dvh - 60px);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}
main::after {
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.5);
}
main > * {
  z-index: 3;
  background: transparent;
  animation: slide-up-fade-in 1s;
}
main > h1 {
  font-size: 60px;
  text-align: center;
  width: min(900px, 90vw);
  font-family: "Black Ops One";
  color: white;
  text-shadow: 0 0 10px black;
}
main > p {
  color: rgb(255, 234, 140);
  font-weight: 900;
  font-size: x-large;
  text-shadow: 0 0 10px black;
}
main > button {
  background-color: rgb(133, 60, 60);
  color: white;
  padding: 15px 30px;
  font-size: medium;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
}
main > button:hover {
  background-color: rgb(161, 73, 73);
}
main > div {
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
main > div > div,
main#contact > div > div > div {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
}
main > div > div > p > span,
main#contact > div > div > div > p > span {
  color: rgb(133, 60, 60);
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 5px;
}
main > div > div > img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
    gap: 20px;
    height: auto;
  }
  main::after {
    background: none;
  }
  main {
    background: var(--background-solid-colour);
  }
  main > h1 {
    font-size: 50px;
    text-shadow: 0 0 20px white;
  }
  main > p {
    text-shadow: none;
  }
}

@media screen and (max-width: 380px) {
  main > h1 {
    font-size: 40px;
  }
}

main#contact > div {
  gap: 50px;
}
main#contact > div > iframe {
  width: 100%;
  height: 300px;
  animation: fade-in 3s;
}
main#contact > div > div {
  flex-direction: column;
  align-items: flex-start;
}
main#menu {
  background: var(--background-solid-colour);
  padding-top: 80px;
  padding-bottom: 80px;
}
main#menu::after {
  background: none;
}
.menu-section {
  width: min(90dvw, 800px);
  display: flex;
  flex-direction: column;
}
.menu-section > h2 {
  background: transparent;
}
.menu-item > div.dot-leaders {
  overflow: hidden;
}
.menu-item > div:nth-child(1) {
  display: inline-block;
  min-width: max-content;
  color: rgb(190, 92, 92);
}

@keyframes slide-up-fade-in {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
